.DS_Store
*~
#*
*.log
*.valid
*.pyc
*.csv
*.png
*.plan
*.negative
learn/events*
/mnist_model/
*.bin
*.lprof
/samples/table
*.zip
output/pb*
*.pddl
output_*
output_*
problems/
problem-instances/vanilla/
samples/
*.zip
*.tar*
sas_plan
output.sas
new_datasets/
masks/
latplan/bin/
latplan/include/
latplan/lib/
latplan/pip-selfcheck.json
latplan/problem-instances/vanilla/
latplan/share/
new_lat/
latplan/install.sh
.vscode/

# Keras weights
*.h5

# Pickle files
*.pkl
